---
layout: page
permalink: /categories/
title: Categories
---

<div id="archives">
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    {% assign postCount=0 %}
    <a name="{{ category_name | slugize }}"></a> {% for post in
    site.categories[category_name] %} {% assign postCount=postCount|plus:1 %} {%
    if postCount==4 %} {% break %} {%endif%}
    <article class="archive-item">
      <h4>
        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      </h4>
      <div class="category-description">
        <span> {{ post.content | slice : 0, 100 }}</span>
      </div>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>
